body {
  margin: 0 auto;
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111927;
  width: 100%;
  box-sizing: border-box;
}

.login-title {
  text-align: center;
  color: #fff;
  position: absolute;
  width: 548px;
  height: 60px;
  left: calc(50% - 548px / 2 - 1px);
  top: calc(50% - 60px / 2 - 347px);

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.spot-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.page-title {
  text-align: center;
  color: #2ef051;
  position: relative;
  top: -77px;
  width: fit-content;
  margin: 20px auto;
}
.form-container {
  margin: 0 auto;
  background-color: #171d34;
  width: 40%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  background-color: #111927;
  border-radius: 15px;
}
