body {
  margin: 0 auto;
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111927;
  width: 100%;
  box-sizing: border-box;
}

.login-title {
  text-align: center;
  color: #fff;
  position: absolute;
  width: 548px;
  height: 60px;
  left: calc(50% - 548px / 2 - 1px);
  top: calc(50% - 60px / 2 - 347px);

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.spot-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.page-title {
  text-align: center;
  color: #2ef051;
  position: relative;
  width: fit-content;
  margin: 20px auto;
}
.form-container {
  margin: 0 auto;
  background-color: #171d34;
  width: 40%;
  border-radius: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.form input {
  background-color: #111927;
  border-radius: 15px;
  border: 0px solid red;
  margin: 10px 0px;
  padding: 5px;
}

.file-container {
  height: 100px;
  border: 2px dashed #2ef051;
  color: #111927;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.file-container input {
  width: 100%;
  cursor: pointer;
  height: inherit;
  z-index: 10;
  opacity: 0;
  margin: 0px;
  padding: 0px;
}
.upload-icon {
  margin: 20px auto;
  height: 60%;
  color: #111927;
  position: absolute;
}
.hidden {
  display: none;
}
.image-preview {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
